*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header{
    background-color: #0B2545;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    
}

.nav{
    max-width: 992px;
    margin: 0 auto;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    max-width: 992px;
    margin: 0 auto;
    
}

.nav-link{
    color: #FFFFFF;
    text-decoration: none;
    
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;

}

.nav-menu-link:hover,.nav-menu-link_active{
    background-color: #D4A017;
    transition: 0.5s;
}

.nav-toggle{
    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

@media (max-width: 768px){
    body{
    padding-top: 70px;
}

.header{
    height: 60px;
}

.title{
    font-size: 25px;
    line-height: 60px;
    padding: 0 20px;
    align-items: center;
}

.nav-menu{
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2B2D42;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
}

.nav-menu-item{
    line-height: 70px;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;

}

.nav-menu-link:hover,
.nav-menu-link_active{
    background: none;
    color: #83c5f7;
}

.nav-toggle{
    display: block;
}

.nav-menu_visible{
    left: 0;
}

}


.title{
    font-size: 30px;
    padding: 0 40px;
    line-height: 80px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #2B2D42;
    padding: 10px;
    text-align: left;
}

th{
    background-color: #0B2545;
    color: white;
}

.fase{
    border: 1px solid #2B2D42;
    padding: 15px;
    margin: 20px;
    background-color: #FFFFFF;
    color: #2B2D42;
}

.final h3{
    color: #D4A017;

}

.box-equipos{
    display: flex;
    gap: 15px;
}

.participantes{
    border: 1px solid #2B2D42;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.participantes:hover{
    transform: translateY(-10px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.formulario-inscripcion{
    background-color: #0B2545;
    display: inline-block;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s, 0.3s, 0.3s;
}

.formulario-inscripcion:hover{
    background-color: #0b1825;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.info-contacto{
    background-color: #2B2D42;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}