body{
    background-color: #F5F7FA;
    color: #2B2D42;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0B2545;
    padding: 20px;
}

header h1{
    color: white;
}

nav ul{
    list-style: none;
    display: flex;   /*para poner lo li en fila horizontal*/
    gap: 20px;    /*da espacio entre cada link*/

} 

nav a{
    color: white;
    text-decoration: none;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #2B2D42;
    padding: 10px;
    text-align: left;
}

th{
    background-color: #0B2545;
    color: white;
}

.fase{
    border: 1px solid #2B2D42;
    padding: 15px;
    margin: 20px;
    background-color: #FFFFFF;
    color: #2B2D42;
}

.final h3{
    color: #D4A017;

}

.box-equipos{
    display: flex;
    gap: 15px;
}

.participantes{
    border: 1px solid #2B2D42;
    text-align: center;
    padding: 10px;
}